<% layout('layouts/boilerplate_bootstrap') %>
    

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card" >
                <img src="<%= book.image.url %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= book.name %></h5>
                  <p class="card-text"> <%= book.description %></p>
                </div>
                <div class="card-body">
                  <a href="/books/<%= book._id %>/edit" class="card-link btn btn-info">Edit</a>
                  <form class="d-inline" action="/books/<%= book._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                </div>
              </div>
        </div>
    </div>